<div class='home-page__container'>
  <div class='home-page__post-container'>
    <div class='home-page__post-title-container'>
      <div class='home-page__post-title f--header'>
        28 January 2021
      </div>
    </div>
    <div class='home-page__post-content'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut libero vitae quam pellentesque aliquam. Cras vitae neque bibendum, pretium nisl eget, varius enim. Etiam vulputate tortor ut facilisis facilisis. Donec iaculis justo nec aliquam semper. Integer porttitor mattis vestibulum. Donec rutrum finibus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu justo interdum turpis maximus bibendum. Suspendisse non nisl pellentesque magna bibendum ornare. Praesent sodales erat leo, vitae tempor nulla venenatis ut.<br>
      <br>
      Aliquam massa elit, volutpat ut lectus et, viverra euismod nulla. Etiam id blandit odio, quis hendrerit dui. Integer molestie nec eros vel tempor. Etiam et tempor orci, vitae malesuada lectus. Nunc tincidunt sem sed lacinia pellentesque. Etiam augue felis, convallis vitae commodo sit amet, finibus non diam. Fusce nec nibh et urna venenatis pharetra. Integer tristique leo vitae nibh aliquam, quis malesuada risus condimentum. Quisque velit nibh, scelerisque et pellentesque id, hendrerit in velit. Ut a convallis magna.<br>
      <br>
      Integer porta elit a aliquam faucibus. Nulla quis sapien leo. Phasellus a tincidunt augue. Maecenas convallis dui in convallis porttitor. Maecenas condimentum sapien eu dolor rhoncus auctor. Duis eu dictum magna. Donec dui nibh, euismod eu enim quis, condimentum faucibus ex. Vivamus ultricies sodales dignissim. Ut consequat pretium enim, vitae faucibus ex. Cras vitae elit dignissim urna luctus facilisis. Pellentesque vitae nisl erat. Curabitur eget nunc sed nulla cursus vulputate.<br>
      <br>
      Aenean ullamcorper commodo lacinia. Quisque aliquam quam sem, vitae ultricies sem convallis et. Nullam non dui a purus tristique sodales nec at tortor. Nullam est massa, bibendum vitae dolor sit amet, ultricies interdum turpis. Integer placerat ultrices eros, id tempus arcu faucibus accumsan. Fusce in consectetur sapien. Ut tristique libero id semper vehicula. Proin sed ligula at odio mollis porta. Phasellus laoreet elit id eros tempor, at sodales magna dapibus. Cras felis felis, gravida in ultricies nec, tempus et magna. Suspendisse porta finibus tincidunt. Ut non magna ullamcorper, pharetra orci et, posuere nisi. Etiam hendrerit eros vel pharetra vehicula. Quisque eu felis lacus. Nunc a bibendum justo.
    </div>
  </div>
</div>
