<div class='home-page__container'>
  <div class='home-page__post-container'>
    <div class='home-page__post-date-container'>
      <div class='home-page__post-date f--header'>
        29 January 2021
      </div>
    </div>
    <div class='home-page__post-content'>
      <h2 class='home-page__post-title f--header'># Allow me to reintroduce myself</h2>

      <p>Welcome to this small corner of the internet tended by myself, mostly in lieu of any significant social media presence yet still having a desire to write things down and post them to the world, even if the main traffic to this site is bots and web crawlers.</p>
      <p>If you are human and reading this, thank you.</p>
      <br />
      <p>We live in fascinating times that I think will at least require earnest thought in order to meet any of the challenges before us, so here’s my attempt at that.
        I recently saw a bumper sticker that read, “Don’t believe everything you think,” and I hope that through writing I’ll be able to mold coherent and responsible opinions from idle thoughts.
        If I fail at that, I’ll at least have avoided the persistent nudge of social media’s algorithms ever so slightly towards becoming bug-eyed, foaming-at-the-mouth internet maniacs with nowhere the dig but down:
        further entrenched in the righteousness of my own beliefs and seeking only the next zing of an opponent.
      </p>
      <br />
      <p>Here’s to building over digging.</p>
    </div>
  </div>
</div>
