<div class='page__container'>
  <div class='content-container'>
    <div class='content-body'>
      <h2 class='content-title f--header'># My Recommendations For Ya</h2>

      <p>We are nothing if not a reflection of all those we have surrounded ourselves with. Family, friends, and colleagues come to mind first for me,
        and I’m beyond fortunate to have such wonderful loved ones and acquaintances. Though what may be more accessible for you, internet user,
        are the <span class='f--italic'>ideas</span> of others that have impacted me deeply and can be found via libraries, the internet, or streaming subscription services.</p>
        <br />
        <p>Here’s a list of art, literature, and content that has floated my boat through, followed by a list of my media diet, so you can see where my head’s been:</p>
      <br />
      <div class='f--header f--h2'>Books 📚</div>
      <div class='m-l--s'>
        <div class='f--bold'>Fiction</div>
        <ul>
          <li><span class='f--italic'>Moby Dick</span> by Melville</li>
          <li><span class='f--italic'>Invisible Man</span> by Ellison</li>
          <li><span class='f--italic'>Catch-22</span> by Heller</li>
        </ul>
        <div class='f--bold'>Non-fiction</div>
        <ul>
          <li><span class='f--italic'>Warmth of Other Suns</span> by Wilkerson</li>
          <li><span class='f--italic'>Battle Cry of Freedom</span> by McPherson</li>
          <li><span class='f--italic'>Season of the Witch</span> by Talbot</li>
          <li><span class='f--italic'>Legacy of Conquest</span> by Limerick</li>
        </ul>
      </div>
      <br />
      <div class='f--header f--h2'>News 📰</div>
      <div class='m-l--s'>
        <div class='f--bold'>Dailies</div>
        <ul>
          <li><span class='f--italic'>Colorado Sun</span></li>
          <li><span class='f--italic'>San Francisco Chronicle</span></li>
        </ul>
        <div class='f--bold'>Monthlies</div>
        <ul>
          <li><span class='f--italic'>The Sun</span> magazine</li>
        </ul>
      </div>
      <br />
      <div>More to come...</div>
    </div>
  </div>
</div>
