<div class='site-header__container'>
  <div class='site-header__content f--header'>
    <div class='site-header__title-container'>
      Peter Vliet
    </div>
    <div class='site-header__links'>
      My Recs
      <span class='site-header__link-separator'>///</span>
      About
      <span class='site-header__link-separator'>///</span>
      Contact
    </div>
  </div>
</div>
