<div class='site-header__container'>
  <div class='site-header__content f--header'>
    <div class='site-header__title-container'>
      Peter Vliet
    </div>
    <div class='site-header__links'>
      <span class='site-header__active-link'>Missives</span>
      <span class='site-header__link-separator'>///</span>
      <span class='site-header__link'>My Recs</span>
      <span class='site-header__link-separator'>///</span>
      <span class='site-header__link'>About</span>
      <span class='site-header__link-separator'>///</span>
      <span class='site-header__link'>Contact</span>
    </div>
    <div class='site-header__mobile-menu'>
      <div class="site-header__hamburger-container" onclick="toggleHamburger(this)">
        <div class="site-header__hamburger-bar1"></div>
        <div class="site-header__hamburger-bar2"></div>
        <div class="site-header__hamburger-bar3"></div>
      </div>
    </div>
  </div>
  <div id="site-header__mobile-menu-links">
    <div>My Recs</div>
    <div>About</div>
    <div>Contact</div>
  </div>
</div>
