.site-header__active-link {
  background-color: $main-green;
  padding: 0 12px 0 8px;
  position: relative;

  a {
    color: white;
    text-decoration: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 21px solid white;
    border-left: 7px solid $main-green;
    width: 0;
  }
}

.site-header__container {
  // border-bottom: 2px solid black;
  box-shadow: 0 2px 2px lightgrey;
  padding: 8px 0;
}

.site-header__content {
  display: flex;
  justify-content: space-between;

  color: $main-green;
  font-size: 20px;
  margin: 0 auto;
  max-width: 80%;
  padding-top: 2px;
}

.site-header__title-container {
  padding-top: 4px;

  @include min-md {
    padding-top: 0;
  }
}

.site-header__link-separator {
  color: black;
}

.site-header__links {
  display: none;
  font-size: 16px;

  @include min-md {
    display: block;
  }
}

.site-header__link {
  padding: 0 12px 0 8px;
  position: relative;

  a {
    color: $main-green;
    text-decoration: none;
  }

  &:hover {
    background-color: $lighter-green;
  }

  &:hover:before {
    background-color: $lighter-green;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 21px solid white;
    border-left: 7px solid $lighter-green;
    width: 0;
  }
}

// MOBILE NAVBAR & HAMBURGER MENU

.site-header__mobile-menu {
  @include min-md {
    display: none;
  }
}

.site-header__mobile-menu-link {
  margin: 12px 0;

  a {
    text-decoration: none;
  }
}


#site-header__mobile-menu-links {
  display: none;
  background-color: white;
  max-height: 0;
  margin: 0 auto;
  padding-top: 12px;
  transition: max-height 1s;
  width: 80%;

  &.active {
    max-height: 300px;
    transition: max-height 1s;
  }


  @include min-md {
    display: none;
  }
}

.site-header__hamburger-bar1, .site-header__hamburger-bar2, .site-header__hamburger-bar3 {
  width: 24px;
  height: 4px;
  background-color: $main-green;
  margin: 4px 0;
  transition: 0.4s;
}

.change .site-header__hamburger-bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px) ;
  transform: rotate(-45deg) translate(-5px, 6px) ;
}

.change .site-header__hamburger-bar2 {
  opacity: 0;
}

.change .site-header__hamburger-bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px) ;
  transform: rotate(45deg) translate(-5px, -6px) ;
}

.site-header__hamburger-container {
  display: inline-block;
  cursor: pointer;
}
