.home-page__post-date-container {
  display: flex;
}

.home-page__post-date {
  background-color: $main-green;
  color: white;
  padding: 8px 20px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 33px solid white;
    border-left: 11px solid $main-green;
    width: 0;
  }
}
