.home-page__container {
  padding-top: 20px;
}

.home-page__post-content {
  line-height: 24px;
  padding: 20px;
}

.home-page__post-date-container {
  display: flex;
}

.home-page__post-date {
  background-color: $main-green;
  color: white;
  padding: 8px 20px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 33px solid white;
    border-left: 11px solid $main-green;
    width: 0;
  }
}

.home-page__post-container {
  border: 2px solid $main-green;
  margin: 0 auto;

  @include min-md {
    width: 75%;
  }
}

.home-page__post-title {
  font-size: 20px;
  margin-bottom: 16px;
}
