.home-page__container {
  padding-top: 16px;
}

.home-page__post-content {
  padding: 20px;
}

.home-page__post-title-container {
  display: flex;
}

.home-page__post-title {
  background-color: $main-green;
  color: white;
  padding: 8px 32px 8px 12px;
  position: relative;
}

.home-page__post-title:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 32px solid white;
  border-left: 28px solid $main-green;
  width: 0;
}

.home-page__post-container {
  border: 2px solid $main-green;
  margin: 0 auto;

  @include min-md {
    width: 75%;
  }
}
